body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
}



h2 {
	font-size: 56px;
	color: black;
  
}

h4 {
	font-size: 25px;
	color: black;
  
}


.hero {
  font-family: Helevetica, 'Helvetica', sans-serif;
	padding: 250px 0;
	margin: 30px;
  color: black;
 
  }


p {
font-size:2rem;
	color: black;
}

.hero a {
	color: black;
	font-size: 1.25em;
	text-decoration: none;
	font-style: bold;
}



#footer { 
  font-size: 0.75rem;
}
