body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
}



h2 {
	font-size: 56px;
	color: black;
  
}

p.solid {border-style: solid;}



.hero {
  font-family: Helevetica, 'Helvetica', sans-serif;
	padding: 250px 0;
	margin: 30px;
  color: black;
 
  }
