body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
}



h2 {
	font-size: 35px;
	color: black;
	align-items:left 
  	padding: 10px
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url(ktebej.github.io/Screen Shot 2016-11-29 at 12.58.53 AM.png);
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}



.hero {
  font-family: Helevetica, 'Helvetica', sans-serif;
	padding: 250px 0;
	margin: 30px;
  color: black;
 
  }



nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

nav ul {
  display: inline;
}



